@import 'variables';

#content {
  background-color: $bg_color_page;
  color: $font_color_content;
}

/* - flashes */
// these are the notifications that appear when you submit a form or get a message
.flash {
  a, a:visited { color: $font_color_flash_link; }
  a:hover { color: $font_color_flash_hover; }
  &.breadcrumbs { color: $font_color_flash_breadcrumbs; }
  &.success { color: $font_color_flash_success; }
  &.inbox { color: $font_color_flash_inbox; }
}

/* - content */
.even, .post-post, .post-reply:nth-child(even), #post-editor {
  background-color: $bg_color_even;
  blockquote { background-color: calculate-transparent-color($bg_color_even, $bg_color_odd, 0.2); }
}

.odd, .post-reply:nth-child(odd), .post-post + #post-editor, .post-post + a + #post-editor {
  background-color: $bg_color_odd;
  blockquote { background-color: calculate-transparent-color($bg_color_odd, $bg_color_even, 0.2); }
}

// TODO: darken post-menu-box to fit with the rest of this theme

.selector-popup-button { opacity: 0.7; } /* make the white less contrasty */

#current-icon-dropdown { color: $font_color_icon_selector; }

.post-screenname { color: $font_color_post_info; }

table { border-color: #555555; } // TODO: what does this style

// TODO: Check pagination displays fine in this theme

/* - tag items */
.tag-item, tr.gallery-tags .tag-item {
  background-color: $bg_color_tag_item;
  color: $font_color_tag_item;
}

#post_content, #reply_content {
  background-color: $bg_color_reply_content;
  color: $font_color_reply_content;
}

@import 'dark_themes_selectors';

/* TODO: do this for starrydark */

%ui {
  border-color: $border_color_popup_button;
  background-color: $bg_color_popup_button;
}

.ui-state {
  &-default {
    &, .ui-widget-content &, .ui-widget-header & { @extend %ui; }
  }

  &-hover {
    &, .ui-widget-content &, .ui-widget-header & { @extend %ui; }
  }

  &-focus {
    &, .ui-widget-content &, .ui-widget-header & { @extend %ui; }
  }
}

.ui-button {
  &, &:hover, &:focus { @extend %ui; }

  html &.ui-state-disabled {
    &:hover, &:active { @extend %ui; }
  }
}

.ui-widget-content a { color: $font_color_popup_link; }
/* TODO: hover, click */

@import 'colorize'
