@import 'variables';

/* - content headers */
.form-table-ender { background-color: $bg_color_ender; }

/* - content */
#content .odd, #content .even, .post-post, .post-reply, #post-editor {
  border-top: solid 1px $bg_color_content_border;
  background-color: $bg_color_even !important; // sass-lint:disable-line no-important
  blockquote { background-color: calculate-transparent-color($bg_color_even, $bg_color_odd, 0.2) !important; } // sass-lint:disable-line no-important
}

.post-edit-box img {
  width: 1em;
  height: 1em;
}

.post-footer { color: $font_color_reply_footer; }

.post-character a, .post-character a:visited { color: $font_color_post_info; }

/* - tag items */
tr.gallery-tags .tag-item {
  background-color: $bg_color_tag_item;
  color: $font_color_tag_item;
}

@import 'colorize'
