@import 'variables';

/* - header */
#header {
  background-color: transparent;
  background-image: url(image-path('layouts/starry.jpg'));
  background-position: right top;
}

#logo { background-color: transparent; }

#user-info, #nav-top { background-color: rgba($bg_color_header_middle, 0.9); }

/* - flashes */
// these are the notifications that appear when you submit a form or get a message
.flash.breadcrumbs {
  &, a, a:visited { color: $font_color_breadcrumbs_link_visited; }
  b { color: $font_color_breadcrumbs_bold; }
}

/* - misc */
.single-description { color: $font_color_page; }

/* - content headers */
th, .content-header {
  a { color: $font_color_head_link; }
  a:visited { color: $font_color_head_link_visited; }
}

.form-table-ender {
  background-color: $bg_color_ender;
  color: $font_color_ender;
}

.subber {
  &, a, a:visited { color: $font_color_subber_link_visited; }
  b { color: $font_color_subber_bold; }
}

/* - content */
.even, .post-post, .post-reply:nth-child(even), #post-editor {
  background-color: $bg_color_even;
  blockquote { background-color: calculate-transparent-color($bg_color_even, $bg_color_odd, $opacity_blockquote); }
}

.odd, .post-reply:nth-child(odd), .post-post + #post-editor, .post-post + a + #post-editor {
  background-color: $bg_color_odd;
  blockquote { background-color: calculate-transparent-color($bg_color_odd, $bg_color_even, $opacity_blockquote); }
}

/* - replies.scss */
#post-menu-box {
  border-top-color: rgba($border_color_post_menu, 0.5);

  a { color: inherit; }

  div { border-bottom-color: rgba($border_color_post_menu, 0.5); }
}

.selector-popup { color: $font_color_page; }

#reply-icon-selector { color: $font_color_page; }

.post-character, .post-character a, .post-character a:visited, { color: $font_color_post_info; }

.post-screenname {
  font-weight: $font_weight_post_info;
  &, a, a:visited { color: $font_color_post_screenname; }
}

.post-author, .post-author a, .post-author a:visited { color: $font_color_post_info; }

.subber .link-box { background-color: $bg_color_linkbox_subber; }

/* - other buttons */
.post-navheader .view-button { background-color: $bg_color_viewbutton; }

@import 'colorize'
